[Unit]
Description=API Registro de Estudiantes (FastAPI)
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/Registro-de-Estudiantes
ExecStart=/home/ubuntu/Registro-de-Estudiantes/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
